<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="icon" href="icon.png" type="image/x-icon">
    <title>Test | Index</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="static/icon.png"
                     alt="Icon" style="width: 60px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">User home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin">Admin home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/product/new">Add product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/product/search">Search product</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <article class="container">
        <br>
        <br>
        <section>
            <br>
            <h1>Search product</h1>
            <br>
            <form action="/admin/product" method="post" class="row g-2 align-items-center">
                <div class="col">
                    <input type="text" class="form-control" id="name" placeholder="Product name" required>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>
            <br>
        </section>

        <hr>

        <section>
            <br>
            <h2>Results</h2>
            <br>
            <div class="row justify-content-between">
                <div class="col-sm-3 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img src="static/nothingToSee.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a class="btn btn-dark">Details</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img src="static/nothingToSee.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a class="btn btn-dark">Details</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img src="static/nothingToSee.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a class="btn btn-dark">Details</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img src="static/nothingToSee.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p><span class="fw-bold fs-4">199</span></p>
                            <a class="btn btn-dark">Details</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img src="static/nothingToSee.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a class="btn btn-dark">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>


<script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous">
    </script>
</body>
</html>