<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title='My profile')}"></head>
<body>
<nav th:replace="~{fragments/navbarUser :: navbar}"></nav>

<div class="container">
    <br>
    <h1>My profile</h1>
    <br>
    <p>Username: <span th:text="${user.username}"></span></p>
    <p>Email: <span th:text="${user.email}"></span></p>
    <p>Adress: <span th:text="${user.address}"></span></p>
    <br>
    <a href="auth/signout">Logout</a>
</div>

<script th:replace="~{fragments/scriptBootstrap :: scriptBootstrap}"></script>
</body>
</html>